<h1>Lorem Ipsum Generator</h1>

<% @content.each do |para| %>
    <%= para %>
    </br>
    </br>
<% end %>

<!--<button type="button" onclick="<a href="/lorem.html">RESET</a>"></button>-->

<form method="link" action="/lorem.html">
  <input type="submit" value="RESET">
</form>